[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6'

[packages]

dparse = {git = "https://github.com/paulortman/dparse", editable = true, ref = "b38113da6a5d1de97949ac358ba54ffee1399d3c"}
pipenv = "*"
delegator = "*"


[dev-packages]

