-r sub/requirements.txt
tox==2.3.1
pytest==2.9.2
coverage==4.3.4
pylibmc==1.5.2; sys.platform != 'win32'  # would normally require memcached, but we won't actually install
psycopg2==2.7.3
Twisted[http2]==17.5.0
Twisted[tls]==17.5.0
